<header>
    
    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <div class="container">
        <app-search></app-search>
    </div>

</header>

<main role="main">    
    <!--Title categroy-->                
    <div class="container search-by-cate">
        <h2 class="tit-category"><fa-icon [icon]="faCar"></fa-icon> Tìm phụ tùng theo xe</h2>     
        <div class="row">
          <div class="col">
            <a class="btn button-cate active" href="#">Tất cả</a>
            <!-- <a class="btn button-cate" href="#">Peugeot 5008</a>
            <a class="btn button-cate" href="#">Peugeot 508</a>
            <a class="btn button-cate" href="#">Peugeot 3008</a>
            <a class="btn button-cate" href="#">Peugeot 3008 FL</a>
            <a class="btn button-cate" href="#">Peugeot 408</a> -->
          </div>              
        </div>            
    </div>
    <!--End Title categroy-->

    <div class="container list-products">
        <div class="row" *ngIf="data.length > 0">
            <div class="col-md-3 col-6 text-center" 
                app-preview-product
                *ngFor="let product of data"
                [idSanPham]="product.id"
                [slugSanPham]="product.slug"
                [imgSanPham]="product.img === false ? './../../../assets/img/default-img-phutungsuzuki.jpg': product.img[0]"
                [priceSanpham]="product.price"
                [salePriceSanpham]="product.sale_price"
                [titleSanpham]="product.title"
            ></div>            
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center mt-3" *ngIf="totalPage > 0">
        <ngb-pagination
          [collectionSize]="totalProduct"
          [pageSize]="12"
          [(page)]="currentPage"
          [maxSize]="5"
          [rotate]="true"        
          [boundaryLinks]="true"
          (pageChange)="pageLoad($event)"
        ></ngb-pagination>
    </div>
</main>
