<header>
    
    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <app-search></app-search>

</header>

<main role="main">    
    <!--Title categroy-->                
    <div class="container search-by-cate">
        <h2 class="tit-category"><fa-icon [icon]="faCar"></fa-icon> Tìm phụ tùng theo xe</h2>     
        <div class="row">
          <div class="col">
            <a class="btn button-cate active" href="#">Tất cả</a>
            <a class="btn button-cate" href="#">Peugeot 5008</a>
            <a class="btn button-cate" href="#">Peugeot 508</a>
            <a class="btn button-cate" href="#">Peugeot 3008</a>
            <a class="btn button-cate" href="#">Peugeot 3008 FL</a>
            <a class="btn button-cate" href="#">Peugeot 408</a>
          </div>              
        </div>            
    </div>
    <!--End Title categroy-->

    <div class="container list-products">
        <div class="row">
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
            <div class="col-md-3 col-6 text-center" app-preview-product></div>
        </div>
    </div>
</main>
