<!-- FOOTER -->
<footer class="site-footer" style="display: block; height: 604px;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><a routerLink="/"><img class="img-fluid" src="./../../../assets/img/logo_footer.png" alt="Logo VHP Auto"></a></div>
                        <p class="m-tb20 text-justify"><strong>VHP Auto</strong> luôn mong muốn đem đến cho quý khách hàng những mặt hàng tốt nhất với dịch vụ hoàn hảo nhất.</p>

                        <ul class="dlab-contact-info">
                            <li><i class="flaticon-placeholder"></i>Số 92 Lạc Nghiệp, P. Thanh Nhàn, Q. Hai Bà Trưng, TP. Hà Nội</li>
                            <li><i class="flaticon-customer-service"></i>Phone : 0961.373.689 (24/7 Support Line)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Quy định - chính sách</h4>
                        <div class="dlab-separator"></div>
                        <ul>
                            <li><a routerLink="/post/1174/chung-nhan-kinh-doanh">Chứng nhận kinh doanh</a></li>
                            <li><a routerLink="/page/1190/hinh-thuc-thanh-toan">Hình thức thanh toán</a></li>
                            <li><a routerLink="/page/1181/van-chuyen-giao-nhan">Vận chuyển - Giao nhận</a></li>
                            <li><a routerLink="/post/226/chinh-sach-bao-hanh">Chích sách bảo hành</a></li>
                            <li><a routerLink="/post/228/chinh-sach-doi-tra-san-pham">Chích sách đổi trả sản phẩm</a></li>
                            <li><a routerLink="/page/1198/quy-dinh-bao-mat-thong-tin">Quy định bảo mật thông tin</a></li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget recent-posts-entry">
                        <h4 class="m-b15 text-uppercase">Tin tức VHP Auto </h4>
                        <div class="dlab-separator"></div>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix" *ngFor="let post of listPost">
                                <div class="float-left">
                                    <img 
                                        [src]="post['_embedded']['wp:featuredmedia'][0]['source_url']" 
                                        [alt]="post['title']['rendered']" width="80"
                                    />
                                </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a [routerLink]="['/post/' + post['id'] + '/' + post['slug']]">{{post['title']['rendered']}}</a></h5>
                                    </div>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget ">
                        <h4 class="m-b15 text-uppercase">Đăng ký nhận thông tin</h4>
                        <div class="dlab-separator"></div>
                        <p class="m-tb20 text-justify">Nếu bạn để lại email khi website cập nhật sản phẩm mới bạn sẽ nhận được thông
                            báo ngay lập tức</p>
                        <form class="dlab-subscribe-form">
                            <div class="input-group m-b15">
                                <input name="dzEmail" required="" class="form-control " type="email"
                                    placeholder="Enter Your Email">
                            </div>
                            <div class="input-group">
                                <button name="submit" type="submit" value="Submit" class="site-button btn-block">
                                    Đăng ký <i class="fa fa-angle-right font-18 m-l10"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <ul class="full-social-icon clearfix">
                    <li class="fb col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i><fa-icon [icon]="faFacebookF"></fa-icon></i> Share On Facebook </a>
                    </li>
                    <li class="tw col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i><fa-icon [icon]="faTwitter"></fa-icon></i> Tweet About it </a>
                    </li>
                    <li class="gplus col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i><fa-icon [icon]="faGooglePlusG"></fa-icon></i> Google Plus | 78+ </a>
                    </li>
                    <li class="linkd col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i><fa-icon [icon]="faInstagram"></fa-icon></i> Instagram | 21k </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left"> © Copyright 2020 - VHP Auto</div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <a href="#"> Giới thiệu</a> |
                    <a href="#"> Liên hệ</a> |
                    <a href="#"> Tuyển dụng</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="btn-fixed-right fixed-top ">
    <button class="mini-cart" data-toggle="modal" data-target="#myModal">
        <img src="./assets/img/icon_shopping_cart.png" class="img-responsive" alt="Giỏ hàng" />
    </button>
    <div class="hotline">
        <a href="tel:+84977454568" title="Hotline">
            <img src="./assets/img/calll.gif" class="img-responsive" alt="Hotline"/>
        </a>            
    </div>
    <!-- <div class="language-icon">
        <img src="./assets/img/vietnam-icon.png" class="img-responsive" alt="Iocn-Language"/>
    </div> -->
</div>