<header>

    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <app-search></app-search>

</header>

<main role="main" *ngIf="data; else loading" class="mb-5">
    <!--Title-->
    <div class="container search-by-cate">
        <h2 class="tit-category">
            <fa-icon [icon]="faCar"></fa-icon>&nbsp;&nbsp;<span [innerHTML]="data['title']['rendered']"></span>
        </h2>
    </div>
    <!--End Title-->

    <div class="container">
        <div class="row">
            <div class="col" [innerHTML]="data['content']['rendered'] | renderHtml"></div>
        </div>
    </div>  
        
</main>

<ng-template #loading>
    <div class="container loading d-flex justify-content-center align-items-center" style="min-height: 350px;">
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-secondary" role="status"></div>
        <div class="spinner-grow text-success" role="status"></div>
        <div class="spinner-grow text-danger" role="status"></div>
        <div class="spinner-grow text-warning" role="status"></div>
        <div class="spinner-grow text-info" role="status"></div>
    </div>
</ng-template>