<!-- Huong Dan mua hang -->
<div class="row">
    <div class="inner-wrapper footer-info-adm">
        <!--Huong dan thanh toan-->
        <div class="ft-info-left dv-content-ft col-md-6">
            <h4>Các hình thức thanh toán!</h4>
            <div id="payment-list">
                <div class="payment-item">
                    <div class="payment-img">
                        <img src="./assets/img/office-icon.png" alt="icon-phutungsuzuki" title="icon-phutungsuzuki"
                            class="img-responsive">
                    </div>
                    <div class="content-wp">
                        <h6>Thanh toán trực tiếp tại các văn phòng VHP Auto</h6>
                        <span>
                            Sử dụng khi khách hàng có nhu cầu mua hàng trực tiếp tại cửa hàng.
                        </span>
                    </div>

                </div>
                <div class="payment-item">
                    <div class="payment-img">
                        <img src="./assets/img/post-office.png" alt="icon-phutungsuzuki" title="icon-phutungsuzuki"
                            class="img-responsive">
                    </div>
                    <div class="content-wp">
                        <h6>Thanh toán qua bưu điện - dịch vụ chuyển tiền</h6>
                        <span>
                            Sử dụng khi khách hàng ở xa, không thuận tiện cho việc giao dịch trực tiếp cũng như qua
                            ngân hàng. Sau khi nhận được tiền chúng tôi sẽ chuyển hàng đúng đủ, theo chất lượng quý
                            khách hàng yêu cầu.
                        </span>
                    </div>

                </div>
                <div class="payment-item">
                    <div class="payment-img">
                        <img src="./assets/img/Coach-icon.png" alt="icon-phutungsuzuki" title="icon-phutungsuzuki"
                            class="img-responsive">
                    </div>
                    <div class="content-wp">
                        <h6>Thanh toán nhà xe vận chuyển</h6>
                        <span>
                            Chúng tôi sẽ chuyển hàng qua nhà xe, quý khách nhận hàng và thanh toán trực tiếp cho nhà
                            xe vận chuyển.
                        </span>
                    </div>

                </div>
                <div class="payment-item">
                    <div class="payment-img">
                        <img src="./assets/img/bank-icon.png" alt="icon-phutungsuzuki" title="icon-phutungsuzuki"
                            class="img-responsive">
                    </div>
                    <div class="content-wp">
                        <h6>Thanh toán qua chuyển khoản ngân hàng</h6>
                        <span>
                            Quý khách có thể thanh toán cho chúng tôi bằng cách chuyển khoản trực tiếp tại ngân
                            hàng, chuyển qua thẻ ATM, hoặc qua Internet
                            Banking.
                        </span>
                    </div>

                    <div class="bank-logo">

                        <div class="bank-item">

                            <img src="./assets/img/MBB.gif" alt="Ngân hàng Quân Đội" title="icon-phutungsuzuki">

                            <img src="./assets/img/VPB.gif" alt="Ngân hàng TMCP Việt Nam Thịnh Vượng"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/VCB.gif" alt="Ngân hàng TMCP Ngoại thương Việt Nam - Vietcombank"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/TCB.gif" alt="Ngân hàng TMCP Kỹ Thương Việt Nam - Techcombank"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/SCB.gif" alt="Ngân hàng TMCP Sài Gòn Thương Tín"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/BIDV.gif" alt="Ngân hàng Đầu Tư Và Phát Triển Việt Nam - BIDV"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/AGR.gif"
                                alt="Ngân hàng Nông Nghiệp Và Phát Triển Nông Thôn Việt Nam - Agribank"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/MSB.gif" alt="Ngân hàng TMCP Hàng Hải Việt Nam"
                                title="icon-phutungsuzuki">

                            <img src="./assets/img/VTB.gif" alt="Ngân hàng TMCP Công Thương Việt Nam - Vietinbank"
                                title="icon-phutungsuzuki">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="ft-info-right dv-content-ft col-md-6">
            <h4>Thông tin tài khoản ngân hàng</h4>
            <div id="review-list">
                <div class="review-item">
                    <div class="review-img">
                        <img src="./assets/img/icon-money.png" alt="" title="">
                    </div>
                    <div class="content-wp">
                        <h5><span style="text-decoration: underline;"><em><strong>VIETINBANK</strong></em></span>
                        </h5>
                        <p>Chi nhánh: {{acf['vietinbank_cty_cn']}}</p>
                        <h6>Số TK: {{acf['vietinbank_cty_tk']}} &nbsp; :|: &nbsp;&nbsp;Chủ TK: {{acf['vietinbank_cty_ctk']}}</h6>
                    </div>

                </div>
                <div class="review-item">
                    <div class="review-img">
                        <img src="./assets/img/icon-money.png" alt="" title="">
                    </div>
                    <div class="content-wp">
                        <h5><span style="text-decoration: underline;"><em><strong>AGRIBANK</strong></em></span></h5>
                        <p>Chi nhánh: {{acf['agribank_cn']}}</p>
                        <h6>Số TK: {{acf['agribank_tk']}} &nbsp; :|: &nbsp;&nbsp;Chủ TK: {{acf['agribank_ctk']}}</h6>
                    </div>

                </div>
                <div class="review-item">
                    <div class="review-img">
                        <img src="./assets/img/icon-money.png" alt="" title="">
                    </div>
                    <div class="content-wp">
                        <h5><span style="text-decoration: underline;"><em><strong>VIETCOMBANK</strong></em></span>
                        </h5>
                        <p>Chi nhánh: {{acf['vietcombank_cn']}}</p>
                        <h6>Số TK: {{acf['vietcombank_tk']}} &nbsp; :|: &nbsp;&nbsp;Chủ TK: {{acf['vietcombank_ctk']}}</h6>
                    </div>

                </div>
                <div class="review-item">
                    <div class="review-img">
                        <img src="./assets/img/icon-money.png" alt="" title="">
                    </div>
                    <div class="content-wp">
                        <h5><span style="text-decoration: underline;"><em><strong>VIETINBANK</strong></em></span>
                        </h5>
                        <p>Chi nhánh: {{acf['vietinbank_cn']}}</p>
                        <h6>Số TK: {{acf['vietinbank_tk']}} &nbsp; :|: &nbsp;&nbsp;Chủ TK: {{acf['vietinbank_ctk']}}</h6>
                    </div>

                </div>
            </div>
        </div>
        <!--End Huong dan thanh toan-->
    </div>
</div>