.content-detail-product .img-product{
    background-color: #f9f9f9; 
    padding: 10px;
}
.content-detail-product .container .row .col-3{
    padding: 0 5px !important;     
    margin: 5px 0;   
}
.content-detail-product .container .row .col-3 img{
    border: 2px solid #ccc;
}
.tit-content-dt-product h4{
    color: #13498d;
    font-weight: 350;
}
.content-detail-product .price-dt-prduct{
    color: #D81517;
    line-height: 2.3rem;
}
.des-add-to-cart{
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 10px 0;
}
.des-add-to-cart li{
    font-weight: 500;
}
.des-add-to-cart h5{
    text-align: center;
    color: #13498d;
}
.tit-category.tit-product{
    text-transform: none !important;
}
.main-ds-content-product h2.tit-category,tit-product{
    color: #13498d;
    border-color: #13498d;
    text-transform: none !important;
}
.main-ds-content-product .col-md-5.col-12, h3.tit-category.tit-product{
    color: #13498d;
}
.main-ds-content-product .table td, .main-ds-content-product  .table th{
    border: 1px solid #dee2e6;
    padding: 0.75rem 0.35rem;
    letter-spacing: -1px;
}
.main-ds-content-product .table h3{
    font-size: 1.05rem;
    color: #13498d;
    margin: 0;
    font-weight: 380;
}
.car-use .bg-primary{
    background-color: #337ab7 !important;
}
.car-use .bg-primary th {
    color: #f1f1f1;
    letter-spacing: normal;
}
.car-use tr td{
    letter-spacing: normal !important;
}
.car-use tr td h6{
    color: #598b17;
}
.img-gallery {
    cursor: pointer;
}
.btn.site-button:hover {
    color: #fff !important;
}
.wrap-img-viewed {
    display: block;
    overflow: hidden;
}