/*Sldie Feature Car*/

/* Dez New Work */
.no-of-item h2 {
    font-size: 115px;
    color: #000;
    opacity: 0.2;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 115px;
    margin: 0;
  }
  
  .no-of-item h3 {
    font-size: 28px;
    color: #000;
    font-weight: 420;
    text-transform: uppercase;
  }

  .dlab-new-item .dlab-info p {
    margin: 0;
    color: #636363;
  }
  
  .dlab-new-item .dlab-info .dlab-title a {
    color: #000;
  }
  
  .dlab-new-item .dlab-info .dlab-title {
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0 0;
  }
  
  .owl-nav {
    bottom: 35px;
    height: 40px;
    left: -130px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
    transform-origin: calc(-50%) 50% 0;
    width: 100px;
  }    
  
  .dlab-new-item:hover .dlab-info p,
  .dlab-new-item:hover .dlab-info .dlab-title a {
    color: #fff;
    transition: all 0s ease 0s;
    text-decoration: none;
  }
  
  .dlab-new-work:after {
    width: 25%;
  }
  
  .p-a0 {
    padding: 0;
  }
  
  .no-of-item {
    padding: 30px;
  }
  
  .no-of-item-dtl {
    text-align: center;
  }
  
  .owl-btn-style-2 .owl-nav .owl-prev,
  .owl-btn-style-1 .owl-nav .owl-prev,
  .owl-btn-style-2 .owl-nav .owl-next,
  .owl-btn-style-1 .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #373f44;
    line-height: 40px;
    padding: 0;
    font-size: 18px;
  }
  
  .owl-btn-style-2 .owl-nav .owl-prev,
  .owl-btn-style-2 .owl-nav .owl-next {
    background-color: #e9e9e9;
    color: #000;
  }
  
  .owl-btn-style-2 .owl-nav {
    margin-top: 0;
    position: absolute;
    right: 11px;
    text-align: center;
    top: -85px;
  }
  
  .owl-carousel.owl-btn-style-1 .owl-nav,
  .owl-carousel.owl-btn-style-2 .owl-nav {
    display: block;
  }
  
  .btn,
  .button-skew i:before,
  .button-skew span,
  .owl-next,
  .owl-prev,
  .site-button-link {
    display: inline-block;
  }
  
  .owl-next,
  .owl-prev {
    background-color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 5px 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    cursor: pointer;
    border-width: 0;
    border-style: solid;
  }
  
  @media only screen and (max-width: 1024px) {
    .no-of-item h3 {
      font-size: 20px;
    }
  
    .no-of-item h2 {
      font-size: 75px;
      line-height: 75px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .dlab-new-work:after {
      height: 50%;
      width: 100%;
    }
  
    .no-of-item-dtl {
      text-align: center;
    }
  
    .owl-nav {
      bottom: auto;
      left: 50%;
      top: -80px;
      margin-left: -50px;
    }
  
    .no-of-item {
      padding: 30px 30px 60px 30px;
    }
  }
  
#slideCategory .btn-dark{
  color: #fff !important;
  margin: 0 3px;
  border-radius: 0 !important;
}
  /*End Sldie Feature Car*/