<header>

    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <div class="container">
        <app-search></app-search>
    </div>

</header>

<main role="main" *ngIf="data; else loading" class="mb-5">
    <!--Title-->
    <div class="container search-by-cate">
        <h2 class="tit-category">
            <fa-icon [icon]="faCar"></fa-icon>&nbsp;&nbsp;<span [innerHTML]="data['title']['rendered']"></span>
        </h2>
    </div>
    <!--End Title-->

    <div class="container" *ngIf="slug !== 'hinh-thuc-thanh-toan'">
        <div class="row">
            <div class="col" [innerHTML]="data['content']['rendered'] | renderHtml"></div>
        </div>
    </div>  
    
    <div 
        class="container" 
        app-payment 
        *ngIf="slug === 'hinh-thuc-thanh-toan'"
        [acf]="data['acf']"
    ></div>
</main>

<ng-template #loading>
    <app-pre-loading></app-pre-loading>
</ng-template>