<header>
    
    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <app-search></app-search>

</header>

<main role="main">    
    <!--Title categroy-->                
    <div class="container search-by-cate">
        <h2 class="tit-category"><fa-icon [icon]="faCar"></fa-icon> Dữ liệu đang cập nhật...</h2>                         
    </div>
    <!--End Title categroy-->

    <div class="container list-products">
        <div class="row">            
        </div>
    </div>

    <!-- <nav aria-label="Component Pagination"
        app-pagination
    </nav> -->
</main>
