<!--Search-->
<form class="form-inline carousel-frm container">
    <div class="row">
        <div class="form-group col-md-3">
            <a href="#" class="btn btn-search cl-frm-search site-button"><img src="./../../../assets/img/icon_search_peugeot.png"
                    style="width:30px; margin-right: 0.8rem" />PHỤ TÙNG PEUGEOT</a>
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="MÃ PHỤ TÙNG">
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="TÊN PHỤ TÙNG">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-search cl-frm-search site-button">Tìm kiếm</button>
        </div>
    </div>
</form>
<!--End Search-->