<!--Search-->
<form id="wrap-frm-search" class="form-inline carousel-frm">
    <div class="row">
        <div class="form-group col-md-3">
            <button 
                type="button" 
                [routerLink]="['/san-pham/search', codeProduct.value, nameProduct.value]" 
                (click)="outFocus()" class="btn btn-search cl-frm-search site-button"
            >
                    <img src="./../../../assets/img/icon_search_peugeot.png" style="width:30px; margin-right: 0.8rem" />
                    PHỤ TÙNG ÔTÔ 
            </button>
        </div>
        <div class="form-group col-md-3">
            <input 
                type="text" 
                class="form-control" 
                id="exampleInputEmail3" 
                placeholder="MÃ PHỤ TÙNG"
                (keyup)="searchProduct(codeProduct, nameProduct)"
                #codeProduct                
            />
        </div>
        <div class="form-group col-md-3">
            <input 
                type="text" 
                class="form-control" 
                id="exampleInputEmail3" 
                placeholder="TÊN PHỤ TÙNG"
                (keyup)="searchProduct(codeProduct, nameProduct)"   
                #nameProduct              
            />
        </div>
        <div class="form-group col-md-3">
            <button type="button" [routerLink]="['/san-pham/search', codeProduct.value, nameProduct.value]" (click)="outFocus()" class="btn btn-search cl-frm-search site-button">Tìm kiếm</button>
        </div>
    </div>
    
    <div class="row justify-content-center" id="wrap-box-result-search" *ngIf="isShowResult">
        <div class="col-md-6">
            <ng-container *ngFor="let product of listNoteProductSearch">
                <div class="media border-bottom pb-2 pt-1 mb-1" *ngIf="product !== null">
                    <a (click)="outFocus()" [routerLink]="['/san-pham/detail', product['id'], product['slug']]">
                        <img class="align-self-start mr-3" width="50" [src]="product['img'] !== false? product['img'][0] : './../../../assets/img/default-img-phutungsuzuki.jpg'" alt="Generic placeholder image">
                    </a>
                    <div class="media-body">                  
                        <h6>
                            <a (click)="outFocus()" [routerLink]="['/san-pham/detail', product['id'], product['slug']]">
                                {{product['title']}}
                            </a>
                        </h6>
                    </div>
                </div>            
            </ng-container>
        </div>
    </div>
</form>
<!--End Search-->