.carousel-frm {
  justify-content: center
}

.form-inline.carousel-frm .form-control,
.form-inline.carousel-frm .btn {
  border-radius: 0 !important;
  width: 100%;
}

.form-inline.carousel-frm .row {
  background: #fff;
  margin: 0 !important;
  width: 100%;
}

.btn-search {
  color: #fff !important;
}

.cl-frm-search:parent {
  padding: 0 !important;
}

.cl-frm-search {
  height: 3em;
  line-height: 2em;
}

.form-inline.carousel-frm .row .form-group.col-md-3:first-child {
  padding: 0;
}

@media (min-width: 576px) {
  .form-inline.carousel-frm .row .form-group.col-md-3:last-child {
    padding: 0;
  }
}

#wrap-box-result-search {
  position: relative;
  background-color: transparent;
}
#wrap-box-result-search .col-md-6 {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  position: absolute !important;
  z-index: 1200;
  top: 0;  
}