#wrap-category-menu {
    margin-top: 1rem;
}
#h2-title-category.site-button {
    background-color:#C61010;
    font-size: 1.02rem;
    width: 100%;
    margin-bottom: 0;
    padding: 8px;
}

.dropright-category {
    width: 100%;    
}

.dropright-category .btn {
    text-align: left;
    border-radius: 0;
}
.dropright-category .btn.active.focus,
.dropright-category .btn.active:focus,
.dropright-category .btn.focus,
.dropright-category .btn.focus:active,
.dropright-category .btn:active:focus,
.dropright-category .btn:focus {
  outline: 0;
  outline-offset: 0 ;  
  -webkit-box-shadow: none;
  box-shadow: none ;
}
.dropright-category.dropright .dropdown-menu {
    margin-left: 0;
    border-radius: 0;
}
.dropright-category.dropright:hover>.dropdown-menu {
    display: block;
}

.dropright-category.dropright>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropright-category.dropright .dropdown-toggle::after  {
    border: unset;
}
.wrap-home-cate-product .card-header {
    clear: both;
    padding: 0;    
    overflow: hidden;
}
.wrap-home-cate-product .name-cate-product {
    float: left;
}
.wrap-home-cate-product .card-header-tabs {
    margin: 0;
    float: left;
}
.wrap-home-cate-product .card-header-tabs.nav-tabs .nav-link {
    padding: 10px 15px;
    border: none;
    border-radius: 0;
}
.wrap-home-cate-product .card-header a.view-all-product {
    float: right;
    padding: 10px 15px;
}
.wrap-home-cate-product .name-cate-product {
    background-color: #C61010;
    padding: 10px 15px; 
}
.wrap-home-cate-product .h5-title-product {
    font-size: 15px;
}