<header>

    <app-header></app-header>

    <app-breadcrumb></app-breadcrumb>

    <div class="container">
        <app-search></app-search>
    </div>

</header>

<main role="main" class="mb-5">
    <!--Title-->
    <div class="container search-by-cate">
        <h1 class="tit-category">
            <fa-icon [icon]="faCar"></fa-icon>&nbsp;&nbsp;Quy định & Chính sách
        </h1>
    </div>
    <!--End Title-->

    <div class="container">
        <div class="card-deck mb-3">
            <div class="card">
                <a routerLink="/post/226/chinh-sach-bao-hanh" title="Chích sách bảo hành">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/post/226/chinh-sach-bao-hanh" title="Chích sách bảo hành">                
                        <h5 class="card-title">Chích sách bảo hành</h5>
                    </a>
                    <p class="card-text">Chính sách bảo hành sản phẩm, theo từng mặt hàng!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
            <div class="card">
                <a routerLink="/post/228/chinh-sach-doi-tra-san-pham" title="Chích sách đổi trả sản phẩm">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/post/228/chinh-sach-doi-tra-san-pham" title="Chích sách đổi trả sản phẩm">
                        <h5 class="card-title">Chích sách đổi trả sản phẩm</h5>
                    </a>
                    <p class="card-text">Hướng dẫn đổi trả sản phẩm, theo từng mặt hàng!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
            <div class="card">
                <a routerLink="/page/1190/hinh-thuc-thanh-toan" title="Hình thức thanh toán">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/page/1190/hinh-thuc-thanh-toan" title="Hình thức thanh toán">
                        <h5 class="card-title">Hình thức thanh toán</h5>
                    </a>
                    <p class="card-text">Hướng dẫn các hình thức thanh toán khi mua hàng tại VHP Auto</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card">
                <a routerLink="/page/1181/van-chuyen-giao-nhan" title="Vận chuyển - Giao nhận">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/page/1181/van-chuyen-giao-nhan" title="Vận chuyển - Giao nhận">
                        <h5 class="card-title">Vận chuyển - Giao nhận</h5>
                    </a>
                    <p class="card-text">Chính sách hỗ trợ giao hàng của VHP Auto</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
            <div class="card">
                <a routerLink="/post/228/chinh-sach-doi-tra-san-pham" title="Quy định bảo mật thông tin">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/post/228/chinh-sach-doi-tra-san-pham" title="Quy định bảo mật thông tin">
                        <h5 class="card-title">Quy định bảo mật thông tin</h5>
                    </a>
                    <p class="card-text">Quy định đảm bảo an toàn thông tin Khách hàng - Đối tác</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
            <div class="card">
                <a routerLink="/post/1174/chung-nhan-kinh-doanh" title="Chứng nhận kinh doanh">
                    <img class="card-img-top" src="./../../../assets/img/default-img-phutungsuzuki.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a routerLink="/post/1174/chung-nhan-kinh-doanh" title="Chứng nhận kinh doanh">
                        <h5 class="card-title">Chứng nhận kinh doanh</h5>
                    </a>
                    <p class="card-text">Giấy phép đăng ký kinh doanh, thể hiện tư cách pháp nhân của VHP Auto!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Đặt niềm tin - Trao chất lượng</small>
                    <small class="text-muted float-right">VHP Auto</small>
                </div>
            </div>
        </div>
    </div>

</main>

<ng-template #loading>
    <div class="container loading d-flex justify-content-center align-items-center" style="min-height: 350px;">
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-secondary" role="status"></div>
        <div class="spinner-grow text-success" role="status"></div>
        <div class="spinner-grow text-danger" role="status"></div>
        <div class="spinner-grow text-warning" role="status"></div>
        <div class="spinner-grow text-info" role="status"></div>
    </div>
</ng-template>